.container_app {
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.container {
  background-color: white;
  margin-top: 6rem;
  padding: 2rem;
}

.datos {
  margin-top: 1rem;
  margin-bottom: 1rem;
}